<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <targets>
    <target id ="consoleConfig" logTarget ="console" format="${datetime} | ${level} | ${message} ${callerFileName} : ${callerLineNumber}">
      <option category="color" id="Debug" value="DarkGray"/>
      <option category="color" id="Info" value="Green"/>
      <option category="color" id="Error" value="DarkRed"/>
      <option category="color" id="Fatal" value="Red"/>
    </target>
    <target id="fileConfig" logTarget ="file" format="${datetime} | ${level} | ${message} | ${callerFileName} : ${callerLineNumber}">
      <option category ="fileName" value="./logs/LogFile.txt"/>
      <option category ="archiveFileName" value ="./logs/archive/log.{#}.txt"/>
      <option category ="archiveRolling" value ="Day"/>
      <option category ="maxArchiveFiles" value ="7"/>
      <option category ="keepOpenFile" value="true"/>
      <option category ="autoFlush" value="true"/>
    </target>
    <target id ="databaseConfig" logTarget="database">
      <database dbConnection ="test"
					  dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
					  keepConnectionOpen ="true"
				      dbCommand="insert into log (logged, level, message)
										values (@logged, @level, @message);">
        <option category="parameter" id="@level" value="${level}"></option>
        <option category="parameter" id="@logged" value="${datetime}"></option>
        <option category="parameter" id="@message" value="${message}"></option>
        <option category="parameter" id="@callsite" value="${callerFileName} : ${callerLineNumber}"></option>
      </database>
    </target>
  </targets>
  <loggers>
    <logger id="consoleConfig" minLogLevel="Info"></logger>
    <!--<logger id ="fileConfig" minLogLevel="Debug"></logger>-->
    <!--<logger key ="databaseConfig" loggerName="" minLogLevel="Info"></logger>-->
  </loggers>
</configuration>